
body{
    margin: 0;
    padding: 0;
}



.btnn {
    background: linear-gradient(90deg,#20adbe 0,#43b388);
     /* display:inline-block; */
        border-radius: 45.25rem;
        width: 250px;
        border-style: none;
        padding: 0;
        margin-top:1rem;
        height: 30px;
        text-align: center;
    
      
     }
.btnn:hover { 
    background-color:#3ae5eb;
     display:inline-block;
     color: black;
                }
.btnn a{
    color: aliceblue;
     padding: 0; 
     text-decoration: none; 
     padding: 0;
    text-align: center;}
.btnn a:hover{
    text-decoration: none; 
    color: rgb(0, 0, 0);
     padding: 0;}



 header a{
    
    color: rgb(249, 244, 240); ;
    
    }

header a:hover{
    color:#facb21;

}


header i{
    color: rgb(247, 242, 238); ;

}

header i:hover{
   

    color:#facb21;


}

header{
    margin-top: 3.9rem;
}



/* banner section */

.banner{

    margin-top: 7rem;
}


nav a{
    margin-left: 1rem;
    margin-right: 1rem;
}

nav a:hover{
    background: linear-gradient(90deg,#20adbe 0,#43b388);
    border-radius: 45.25rem;
   
    
    
}


/* nav .active{
    background: linear-gradient(90deg,#20adbe 0,#43b388);
    border-radius: 45.25rem;

} */




