
body{
    margin: 0;
    padding: 0;
}

.btnn {
    background-color: rgb(59, 60, 58);
     display:inline-block;
        border-radius: 45.25rem;
        width: 250px;
        border-style: none;
        padding: 0;
        margin: 0;
        height: 30px;
    
      
     }
.btnn:hover { 
    background-color:#facb21;
     display:inline-block;
     color: black;
                }
.btnn a{
    color: aliceblue;
     padding: 0; 
     text-decoration: none; 
     padding: 0;}
.btnn a:hover{
    text-decoration: none; 
    color: rgb(0, 0, 0);
     padding: 0;}


 header a{
    
    color: rgb(249, 244, 240); ;
    
    }

header a:hover{
    color:#facb21;

}


header i{
    color: rgb(247, 242, 238); ;

}

header i:hover{
    color:#facb21;


}






